body {
	transition-duration: 1s;
	font-family: 'Courier New', Courier, monospace;
	font-size: larger;
	font-weight: bold;
	text-align: center;
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-color: lightslategrey;

	/* position: absolute;
	margin: auto;
	width: 50%;
	border: 50px solid black;
	padding: 10px; */
}
.words {
	font-size: 7rem;
	text-shadow: -3px 5px 5px black;
	-webkit-text-stroke: 2.5px white;
	transition-duration: 1s;
}

input {
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	font-size: large;
}

input[type=text] {
	width: 30%;
	box-shadow: -3px 5px 5px black;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-sizing: border-box;
	text-align: center;
}
input[type=text]:hover {
	transform: scale(1.05);

	transition: transform .1s, opacity .5s;
}

input[name="submit"] {
	box-shadow: -3px 5px 5px black;
	border-radius: 3px;
	color: black;
	background-color: rgb(245, 141, 141);
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: x-large;
}

input[name="submit"]:hover {
	color: white;
	-webkit-text-stroke: 1px black;
	transform: scale(1.1);
	transition: transform .1s, opacity .5s;
}
